@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ASM_SIMS.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutSignInSignUp.cshtml";
}

<div class="d-table-cell align-middle">
    <div class="text-center mt-4">
        <h1 class="h2">Create an Account</h1>
        
        @if (TempData["MessageRegister"] != null)
        {
            <p class="text-success">@TempData["MessageRegister"]</p>
        }
    </div>

    <div class="card">

        <div class="card-body">
            <div class="m-sm-3">
                <form method="post" asp-controller="Login" asp-action="Register">
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label">Username</label>
                        <input class="form-control form-control-lg" asp-for="Username" placeholder="Enter your username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input class="form-control form-control-lg" type="email" asp-for="Email" placeholder="Enter your email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input class="form-control form-control-lg" type="password" asp-for="Password" placeholder="Enter your password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                        <input class="form-control form-control-lg" type="password" asp-for="ConfirmPassword" placeholder="Confirm your password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label">Phone</label>
                        <input class="form-control form-control-lg" asp-for="Phone" placeholder="Enter your phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Address" class="form-label">Address</label>
                        <input class="form-control form-control-lg" asp-for="Address" placeholder="Enter your address (optional)" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-lg btn-primary">Sign up</button>
                    </div>
                    <div class="text-center mt-3">
                        <p>Already have an account? <a asp-action="Index">Sign in here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
